<%  unless section.new_record? %>
  <div id = "<%= dom_id section %>" class = "section clearfix ">
    <%= link_to fa_icon('trash'), "#",method: :delete, remote: true, class: "section-delete text-danger", data: {confirm: "Are you sure you want to delete section #{section.title}?"}%>
    <%= link_to fa_icon('pencil'),"#", remote: true, class: "section-edit" %>
    <%= link_to book_chapter_section_path(section.chapter.book, section.chapter,section), remote: true, class: "section-title" do %>
      <%= fa_icon 'bars' %>      
      <%= section.title %>
      <% end  if  can? :read, section%>
    
  </div>

<% end %>