<div class="container">
  
<section id="book" class="row" data-book-id= "<%= @book.id %>">
  <div id="book-content" class="col-md-8 col-md-push-4">
    <h3><%= @book.title %> <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary btn-sm"%> <%= link_to "Delete", "#",class: "btn btn-danger btn-sm", data: {toggle: "modal", target: "#delete-confirmation-modal"} %></h3>
    <div id="section-content">
      
    </div>
        
  </div>
  <div id="sidebar" class="col-md-4 col-md-pull-8">
    <div id = "chapters-list"> 
      <%= render @chapters %>
    </div>    
    <%= link_to "+ Add chapter", "#", id: 'new-chapter-form-trigger'%>
    <%= render partial:'chapters/form', locals: {chapter: @new_chapter} %>
  </div>
</section>

</div>


<!--Delete Modal confirmation-->
<div class="modal fade" id="delete-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
      </div>
      <div class="modal-body">
        <p>Please enter the title of book you want to delete and press submit</p>
        <%= form_tag(book_path(@book), method: :delete) do  %>
          <%= text_field_tag(:title_confirm, "", class: "form-control") %>
          <%= submit_tag("Confirm", class: "btn btn-danger") %>
            
        <% end %>
          
        ...
      </div>      
    </div>
  </div>
</div>